:host {
  width: 100%;
}

.change-password-form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.change-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.change-password-form * {
  width: 100%;
}

.form-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.form-footer-hint {
  font-size: smaller;
}

.form-footer button {
  width: unset;
}

mat-card {
  width: 30%;
}

mat-card-content {
  padding: 1rem;
}
