<div class="change-password-form-container">
  <mat-card>
    <mat-card-header>
      <h2>{{ 'password-change.title' | transloco }}</h2>
    </mat-card-header>
    <mat-card-header>
      <p>{{ 'password-change.prompt' | transloco }}</p>
    </mat-card-header>
    <mat-card-content>
      <form class="change-password-form" [formGroup]="changePasswordForm">
        <div>
          <mat-form-field>
            <mat-label for="new-password">{{
              'password-change.form.newPassword' | transloco
            }}</mat-label>
            <input matInput id="new-password" type="password" formControlName="newPassword" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label for="confirm-password">{{
              'password-change.form.confirmPassword' | transloco
            }}</mat-label>
            <input
              matInput
              id="confirm-password"
              type="password"
              formControlName="confirmPassword"
            />
          </mat-form-field>
        </div>
        <div class="form-footer">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!changePasswordForm.valid"
            (click)="onSave()"
          >
            {{ 'password-change.button.save' | transloco }}
          </button>
        </div>
        <div class="form-footer-hint">{{ 'password-change.strongPasswordHint' | transloco }}</div>
        <!--      empty field-->
        <mat-error
          *ngIf="
            changePasswordForm.get('newPassword')?.hasError('required') &&
            changePasswordForm.get('newPassword')?.touched
          "
        >
          {{ 'password-change.error.inputRequired' | transloco }}
        </mat-error>
        <!--        correct pattern-->
        <mat-error
          *ngIf="
            changePasswordForm.get('newPassword')?.hasError('pattern') &&
            changePasswordForm.get('newPassword')?.touched
          "
        >
          {{ 'password-change.error.passwordPattern' | transloco }}
        </mat-error>
        <!--      matching passwords-->
        <mat-error
          *ngIf="
            changePasswordForm.get('confirmPassword')?.hasError('matchingPasswords') &&
            changePasswordForm.get('confirmPassword')?.touched
          "
        >
          {{ 'password-change.error.passwordMatch' | transloco }}
        </mat-error>
      </form>
    </mat-card-content>
  </mat-card>
</div>
