:host {
  width: 100%;
}

.login-form-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.loginForm * {
  width: 100%;
}

mat-card {
  width: 25%;
  margin: 0 auto;
}

mat-card-content {
  padding: 1rem;
}
