<div class="dialog-header">
  <span *ngIf="data === null">{{ translate('donorregister.title.add') }}</span>
  <span *ngIf="data !== null">{{ translate('donorregister.title.edit') }}</span>
  <button mat-icon-button aria-label="Close" (click)="onDialogClose()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div class="register-donor-container">
    <form class="register-donor-form" [formGroup]="registerForm">
      <div>
        <mat-form-field>
          <mat-label for="firstname">{{ 'donorregister.form.firstname' | transloco }}</mat-label>
          <input matInput id="firstname" type="text" formControlName="firstName" />
          <mat-error *ngIf="registerForm.get('firstName')!.invalid">{{
            getErrorMessageFirstName()
          }}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label for="lastname">{{ 'donorregister.form.lastname' | transloco }}</mat-label>
          <input matInput id="lastname" type="text" formControlName="lastName" />
          <mat-error *ngIf="registerForm.get('lastName')!.invalid">{{
            getErrorMessageLastName()
          }}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label for="additionalName">{{
            'donorregister.form.additionalname' | transloco
          }}</mat-label>
          <input matInput id="additionalName" type="text" formControlName="additionalName" />
          <mat-error *ngIf="registerForm.get('additionalName')?.invalid">{{
            getErrorMessageFirstName()
          }}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label for="maidenName">{{ 'donorregister.form.maidenname' | transloco }}</mat-label>
          <input matInput id="maidenName" type="text" formControlName="maidenName" />
          <mat-error *ngIf="registerForm.get('maidenName')!.invalid">{{
            getErrorMessageLastName()
          }}</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="loading-modal-footer">
    <button
      class="formButton"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="registerForm.invalid || (isLoading$ | async) === true"
      (click)="onSave()"
    >
      {{ 'donorregister.button.save' | transloco }}
    </button>
    <mat-spinner *ngIf="isLoading$ | async" diameter="32"></mat-spinner>
  </div>
</mat-dialog-actions>
